<%- include("./../partials/header.ejs")%>
<section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight"
  style="background-image: url('images/bg_1.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span>
          <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
        <h1 class="mb-3 bread">About Us</h1>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pb mb-5">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center"
        style="background-image: url(images/about.jpg);">
      </div>
      <div class="col-md-6 wrap-about py-md-5 ftco-animate">
        <div class="heading-section p-md-5">
          <h2 class="mb-4">We Put People First.</h2>
          <p>
            Harsha Estate was founded by <span style="font-weight: 800;">Ms.Harsha Raval</span>  in 2006 with the Vision to provide comprehensive and reliable property services to clients .Since then at Harsha Estate we have been working as Property Consultant and have helped our clients in  investing in an appropriate property .We deal in Buying ,Selling , Leasing, Rent. We are Registered Agents under
            <span style="font-weight: 800;">RERA Act,2016</span> .Our aim name is to fulfill our clients expectations and as a Real Estate Firm we are catering to all the needs and requirements of our client under one roof. We provide them with the facilities which  includes  Leave and License Registration at our Offices, Assistance to Stamp Duty Registration of Sale Deed and Other Transfer Deeds,  Property Finance related guidance  .We have tie up with banks to Provide Hassle Free Property Finance for Our Clients, Maximum of their Eligibility.
         </p>
         <p>In the span of last fourteen years we at Harsha Estate have served our clients  with variety of dream homes  at affordable prices.</p>
         
         <p>We are located at Virar and we serve in  Mumbai and Pune. Our core beliefs are Ethics, Integrity, Transparency, Trust and Respect</p>
         <p>
            We believe that everything boils down to the human connection in everything we do, We honour these relationship .The way we do that is through honest communication, removing unknowns, and constantly improving our knowledge base to benefit our clients .Helping people to buy or sell their Property is the way we get to fulfil our passion of genuine connection.
         </p>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include("./../partials/footer.ejs")%>